/*use to convert in one-line https://daruse.ru/kompressor-html-koda-onlajn*/

body
  {
    background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);
    background-size: 2em 2em;
    background-color: #232323;
    color: #aeaeae;
    font-family: Arial;
  }

  body a
  {
    text-decoration: none;
    color: rgb(51, 155, 255);
  }

  body #authorization iframe
  {
    display: none;
  }

  body #authorization input
  {
    border-radius: 4px;
    width: 200px;
  }

  body #authorization select
  {
    border-radius: 4px;
    width: 200px;
  }

  body p a
  {
    text-decoration: none;
    color: rgb(51, 155, 255);
  }

  body h2
  {
    display: none;
  }

  body #deadlines div
  {
    display: none;
  }

  body #authorization
  {
    position: absolute;
    border: 2px solid rgb(51, 102, 204);
    width: 200px;
    left: 8px;
    padding: 4px;
    background-color: #0f0f0f;
    color: #aeaeae;
    border-radius: 12px;
  }

  body #authorization small
  {
    display: none;
  }

  body #content
  {
    position: absolute;
    width: 720px;
    left: 218px;
    border: 2px solid rgb(51, 102, 204);
    padding: 4px;
    background-color: #0f0f0f;
    color: #aeaeae;
    border-radius: 12px;
  }

  body #content h3
  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #36c;
  }

  body #content h4
  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #36c;
  }

  body #content a.done
  {
    color: #339bf1;
  }

  body #navbar
  {
    color: #aeaeae;
    font-size: 18px;
    padding: inherit;
    opacity: 30%;
  }

  body #navbar a
  {
    text-decoration: none;
    color: #aeaeae;
  }

  body #study-entity-list a
  {
    color: rgb(51, 155, 255);
  }

  body #module-description
  {
    color: #0f0f0f;
  }

  body .h4
  {
    color: #aeaeae;
  }

  body .learning-level-top-border
  {
    border: 1px solid black;
    font-size: 6px;
    display: block;
  }

  body .learning-level-bottom-border
  {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 6px;
    display: block;
  }

  body .learning-level-student
  {
    background-color: rgb(51, 204, 255);
  }

  body .learning-level-student .span
  {
    background-color: #ee4eaf;
  }

  body .learning-level-min-max
  {
    border-top: 2px solid black;
    background-color: rgb(255, 255, 153);
  }

  body .learning-level-average
  {
    background-color: #f00;
  }

  body .study-entity-type-label
  {
    font-size: xx-small;
  }

  body .student-comment
  {
    background: #151515;
    color: whitesmoke;
  }

  body .instructor-comment
  {
    background: #151515;
    color: whitesmoke;
  }

  body .instructor-comment h4
  {
    color: rgb(64, 164, 255);
  }

  body .alert-success
  {
    color: #61dd5d;
    background-color: #0f0f0f;
    border-color: #000;
  }

  body table.stjsl-skin-simple tr.stjsl-odd
  {
    background-color: #191919;
  }

  body table.stjsl-skin-simple tr.stjsl-even
  {
    background-color: #191919;
  }

  body table.stjsl-skin-simple tr.stjsl-even.stjsl-selected,
	body table.stjsl-skin-simple tbody tr.stjsl-even.hover
  {
    background-color: #191919;
  }

  body table.stjsl-skin-simple tr.stjsl-odd.stjsl-selected,
body table.stjsl-skin-simple thead th.stjsl-selected,
body table.stjsl-skin-simple tbody tr.stjsl-odd.hover
  {
    background-color: #191919;
  }